
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f1e9;
    color: #1e1e1e;
    line-height: 1.6;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #f5f1e9;
}

header .box {
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    width: 40px;
}

header h1 {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #f4c400;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 80px;
}

.hero-img img {
    width: 500px;
    border-radius: 15px;
    border: 3px solid #000;
    box-shadow: 8px 8px 0px #f4c400;
}


.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text span {
    color: #f4c400;
}

.hero-text p {
    color: #555;
    line-height: 1.6;
}


.titulo-tirinhas {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
}


.tirinhas {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 60px 0;
}

.tirinha img {
    width: 280px;
    border-radius: 10px;
    border: 2px solid #000;
    transition: 0.3s;
}

.tirinha img:hover {
    transform: scale(1.05);
}


.texto-final {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
    font-size: 14px;
    color: #444;
}